# Connect to Vercel Postgres or any other PostgreSQL DB
POSTGRES_PRISMA_URL="postgresql://user:password@localhost:5432/biohub?schema=public"
POSTGRES_URL_NON_POOLING="postgresql://user:password@localhost:5432/biohub?schema=public"

# The master password for your `/admin` area
ADMIN_PASSWORD="mysecretpassword"
